.package-section {
  position: relative;
  margin-top: -120px;   /* pulls section upward */
  padding-top: 160px;   /* space for content */
  background: #ffffff;
  z-index: 1;
  padding-left: 40px;
}

.package-section h2 {
    font-size: 88px;
    margin-top: -50px;
   
}

.package-section span {
    color: #1792cb;
}

.package-container {
  display: flex;
  gap: 32px;
  padding: 60px 40px 20px;
  width: max-content;
  scroll-behavior: smooth;
  margin-bottom: 40px;
}

.package-card {
  flex: 0 0 320px;
  flex-direction: column;
  height: 375px;
  width: 720px;
  background: #f4f4f4be;
  border-radius: 5px;
  padding: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
  
}

.package-card:hover {
  transform: translateY(-22px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.package-card .image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
}

.package-card__text h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 15px;
  color: #1c1c1c;
}

.package-card__text p {
  font-size: 14px;
  line-height: 1.7;
  color: #737373;
}

.package-card__footer {
    display: flex;
    justify-content: flex-end;
  margin-top: 25px;
  align-items: right;
  font-size: 17px;
  color: #1792cb;
  cursor: pointer;
}

.scroll-viewport {
  display: flex;
  gap: 32px;

  overflow-x: auto;
  overflow-y: visible;

  scroll-behavior: smooth;

  scrollbar-width: none;        
}

.horizontal-scroll {
  display: flex;
  align-items: center;
  gap: 16px;
}

.horizontal-scroll button {
  z-index: 10;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;                
  
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;

  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  cursor: pointer;

  font-size: 22px;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}
