* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Albert Sans", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 72px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 10px;   /* or 40px */
  width: auto;
}

.Links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
}

.Links a {
  text-decoration: none;
  color: #000;
}

.hero {
  height: calc(100vh - 72px);
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
}

.hero h1 span {
  color: #7bdc3c;
}

.hero p {
  margin-top: 24px;
  max-width: 720px;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 24px;
  }

  .nav-links {
    display: none;
  }

  .hero h1 {
    font-size: 38px;
  }
}
