* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Albert Sans", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  position: absolute;
  top: 0%;
  left: 0;
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background: transparent;
  justify-content: space-between;
  padding: 0px 60px 0px 80px;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 43px;
  width: auto;
  display: block;
}

.Links {
  list-style: none;
  padding-right: 10px;
  margin: 0;
  display: flex;
  gap: 48px;
  padding: 2px;
  font-size: 18px;
}

.Links a {
  font-weight: medium;
  text-decoration: none;
  color: #ffffff;
}

.hero {
  position: relative;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 200px;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.73),
    rgba(0, 0, 0, 0.901)
  );
  z-index: 2;
}

.hero-content {
  margin-top: 98px;
  position: relative;
  z-index: 3;
  max-width: 900px;
  padding: 0 20px;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 76px;
  font-weight: 350;
  line-height: 1.15;
}

.hero-content h1 span {
  color: #7bdc3c;
  font-weight: 400;
}

.hero-content p {
  margin-top: 55px;         
  max-width: 2000px;         
  font-size: 16px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 24px;
  }

  .nav-links {
    display: none;
  }

  .hero h1 {
    font-size: 38px;
  }
}
