.stat-card {
    background-color: rgb(228, 228, 228);
    color: #1792cb;
    padding: 16px;
    border-radius: 5px;
    margin: 8px 0;
    width: 350px;
}
.stat-card h3 {
    font-size: 28px;
    margin-bottom: 8px;
}